body{
    margin: 0px;
}
.container{
    height: 100%;
    font-family: sans-serif;
    background-color:#89b4ca;
}
.heading{
    margin: 0;
    font-size: 35px;
    text-align: center;
    color:#22262F;
    padding-top: 25px;
}
img{
    padding: 20px 0px 20px 0px;
}
.para{
    text-align: center;
    color: #22262F;
    font-size: 20px;
}
.list-container{
    list-style: none;
    margin:0;
}
.list-container li{
    color: brown;
}
.item{
    color: brown;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}